body {
  font-family: 'Lato', sans-serif;
  width: 250px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
}

h1 {
  font-size: 80px;
  margin: 10px;
  font-family: 'Fondamento', cursive;
}

.button-wrap button {
  border: 2px solid transparent;
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
}
